div.container {
    border: 1px dashed black;
    border-radius:10px;
    max-width: 1600;
    height: auto;
    padding:20px;
    margin: auto;
    max-width: 800px;
    margin-top: 30px;
    background-color: pink;

}

.container div {
    margin:5px;
    height: 30px;
    display: flex;
    align-items: stretch;
}

.container div  div{
    background-color: rgb(251, 220, 225);
    margin:5px;
    height: 20px;
    width: 20px;
    flex: 1;
    display: flex;
}